<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<style>
  a{
    font-size: large;
  }

  #image{
    justify-content: end;
  }
  .center {
  margin: auto;
  width: 60%;

  padding: 10px;
}
.center-vertical{
  padding: 250px 0;

  text-align: center;
}
.center {
  line-height: 200px;
  height: 200px;

  text-align: center;
}

/* If the text has multiple lines, add the following: */
.center a {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
img.resize-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

</style>
<div class="">
<app-commonheader></app-commonheader>
<div class="bg-image" style="
      background-image: url('https://img.freepik.com/free-photo/blurred-interior-hospital-clinical-with-people-abstract-medical-background_1484-1309.jpg?size=626&ext=jpg');background-repeat: no-repeat;background-size: cover;">
<section class="part2 center-vertical ">
  <div class="container center">
      <div class="row">
          <div class="col-md-4 my-5" style="margin-top: 10px;">
          <img alt="" class="resize-image text-center" id="image1" src="https://www.freeiconspng.com/uploads/patient-icon-1.png" height="40%" width="40%"/>
            <a class="btn btn-secondary" [routerLink]="['patient']">Patient </a>
          </div>
          <div class="col-md-4 my-5"><img alt="" class="resize-image center-block" id="image2" src="https://image.pngaaa.com/186/1902186-middle.png" height="40%" width="40%"/>
            <a class="btn btn-secondary" [routerLink]="['doctor']">Doctor</a></div>
           <div class="col-md-4 my-5"><img alt="" class="resize-image center-block" id="image3" src="https://png.pngtree.com/png-vector/20190301/ourlarge/pngtree-vector-administration-icon-png-image_747092.jpg" height="40%" width="40%"/>
            <a class="btn btn-secondary" [routerLink]="['admin']">Admin</a></div>

      </div>
  </div>

</section>
</div>
</div>

