<style>
  a{
    font-size: large;
  }

  #image{
    justify-content: end;
  }
</style>
<nav class="navbar navbar-expand-lg text-white" style="background-color: blanchedalmond;">

  <a class="navbar-brand px-2 py-1 flex-fill" [routerLink]="['/logout']">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="px-3" id="image">
    <img src="https://e7.pngegg.com/pngimages/297/227/png-clipart-hospital-health-care-clinic-hospital-miscellaneous-medicine.png" height="30px" width="30px">
  </div>


</nav>
